body {
	background-image: url("https://is2-ssl.mzstatic.com/image/thumb/Music20/v4/22/da/9b/22da9bbf-7da2-8e31-27c5-72f0caa075d7/075679908544.jpg/1200x630bb.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	margin: 0 auto;

}


.overlay {
	background-color: rgba(2,2, 2,.8);
	height: 100vh;
	width: 100vw;
	margin: 0 auto;

}

.navbar{
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,.7);
	justify-content: : center;
	height: 6rem !important;
}

.navbar-head{
	flex: 1;
}

.logo-1{
	height: 25px;
}

.logo-1::hover{
	height: 200px;
}

@keyframes fadein {
    from { opacity: 0;
    		padding-top: 100px;
    	 }

    to   { opacity: 2;
    	   padding-top: 70px; 
    	}
}

.nav-button{
	text-align: center;
	height: 10px;

}

/*.lizzo {
	display: none;
	z-index: 0;
}*/


.content {
	text-align: center;
	margin: 0 auto;
	padding-top: 70px;
	animation: fadein 1s;
}

.my-flex-container{
	height: 449px;
	width: 900px;
	/*background-color: rgba(255,255,255,.5);*/
	margin: auto;
}


.my-flex-item{
	/*background-color: rgba(100, 100, 100, .6);*/
	/*border: 2px dotted red;*/
	flex: 1;
}

.logo-2{
	width: 382px;
	height: 80px;
	margin: auto;
}

h3 {
	color: white;
	font-size: 23px;
	margin-top: 46px;
	padding-bottom: 0px;
	line-height: 30px;
}


p{
	color: white;
}

.button{
	width: 100px;
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	margin: auto;
	background-color: aqua;
}

.album-cover{
	width: 450px;
	height: 450px;
	margin: 0 auto;
	opacity: .7;
}

.album-art {
	height: 100%;
}
